In [3]:
from sqlalchemy import create_engine, func
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
import pandas as pd
from config import connection
# connect to the database
engine = create_engine(connection) 
Base = automap_base()
Base.prepare(engine, schema='economy', reflect=True) 

# save classes as variables, prepare classes
job = Base.classes.job
company = Base.classes.company
state = Base.classes.state
# query our database (pull data and save into objects)
session = Session(engine) 

#Extract tables from Amazon RDS postgres database
job_table = session.query(job)
print(job_table) 
company_table = session.query(company) 
print(company_table) 
state_table = session.query(state)
print(state_table) 

# using the tables to create new pandas dataframe
job_df = pd.read_sql(job_table.statement, engine.connect())
print(job_df)
company_df = pd.read_sql(company_table.statement, engine.connect())
print(company_df)
state_df = pd.read_sql(state_table.statement, engine.connect())
print(state_df)

/var/folders/x7/crx4vr4x15bb27ylnzvk1p_r0000gn/T/ipykernel_16281/2072769050.py:9: SADeprecationWarning: The AutomapBase.prepare.reflect parameter is deprecated and will be removed in a future release.  Reflection is enabled when AutomapBase.prepare.autoload_with is passed.
  Base.prepare(engine, schema='economy', reflect=True)

SELECT economy.job.job_id AS economy_job_job_id, economy.job.avg_salary AS economy_job_avg_salary, economy.job.min_salary AS economy_job_min_salary, economy.job.max_salary AS economy_job_max_salary, economy.job.easy_apply AS economy_job_easy_apply, economy.job.company_id AS economy_job_company_id, economy.job.state_id AS economy_job_state_id
FROM economy.job
SELECT economy.company.company_id AS economy_company_company_id, economy.company.state_id AS economy_company_state_id, economy.company.company_name AS economy_company_company_name, economy.company.rating AS economy_company_rating, economy.company.size AS economy_company_size, economy.company.headquarter AS economy_company_headquarter, economy.company.founded AS economy_company_founded, economy.company.type_of_ownership AS economy_company_type_of_ownership, economy.company.industry AS economy_company_industry, economy.company.sector AS economy_company_sector, economy.company.revenue AS economy_company_revenue
FROM economy.company
SELECT economy.state.state_id AS economy_state_state_id, economy.state.city AS economy_state_city, economy.state.state AS economy_state_state
FROM economy.state
      job_id  avg_salary  min_salary  max_salary  easy_apply company_id  \
0          0    107000.0     56000.0    102000.0         NaN       None
1          1    107000.0     56000.0    102000.0         1.0       None
2          2    107000.0     56000.0    102000.0         NaN       None
3          3    107000.0     56000.0    102000.0         NaN       None
4          4    107000.0     56000.0    102000.0         1.0       None
...      ...         ...         ...         ...         ...        ...
4087    4087      3500.0         NaN         NaN         NaN       None
4088    4088      3900.0         NaN         NaN         NaN       None
4089    4089      4000.0         NaN         NaN         NaN       None
4090    4090      4400.0         NaN         NaN         NaN       None
4091    4091      2700.0         NaN         NaN         NaN       None

     state_id
0        None
1        None
2        None
3        None
4        None
...       ...
4087     None
4088     None
4089     None
4090     None
4091     None

[4092 rows x 7 columns]
      company_id state_id              company_name  rating  \
0              0     None  Memorial Sloan-Kettering     3.9
1              1     None   Paine Schwartz Partners     3.8
2              2     None                   Asembia     3.6
3              3     None                        BD     3.6
4              4     None           Rubicon Project     3.4
...          ...      ...                       ...     ...
4087        4087     None            Menlo Park, CA     NaN
4088        4088     None             Princeton, NJ     NaN
4089        4089     None           Gainesville, FL     NaN
4090        4090     None          Mount Laurel, NJ     NaN
4091        4091     None          Jacksonville, FL     NaN

                                size  \
0                   10000+ employees
1                  1 to 50 employees
2              501 to 1000 employees
3                   10000+ employees
4               201 to 500 employees
...                              ...
4087                Company - Public
4088               Company - Private
4089  Subsidiary or Business Segment
4090               Company - Private
4091                        Hospital

                                            headquarter  founded  \
0     NY                                            ...   1884.0
1     NY                                            ...      NaN
2     NJ                                            ...   2004.0
3     NJ                                            ...   1897.0
4     CA                                            ...   2007.0
...                                                 ...      ...
4087                                               None      NaN
4088                                               None      NaN
4089                                               None      NaN
4090                                               None      NaN
4091                                               None      NaN

           type_of_ownership                            industry  \
0     Nonprofit Organization    Health Care Services & Hospitals
1          Company - Private    Venture Capital & Private Equity
2          Company - Private           Biotech & Pharmaceuticals
3           Company - Public  Health Care Products Manufacturing
4           Company - Public                            Internet
...                      ...                                 ...
4087       Business Services              $2 to $5 billion (USD)
4088  Information Technology          $100 to $500 million (USD)
4089             Health Care              $1 to $2 billion (USD)
4090       Business Services          $100 to $500 million (USD)
4091             Health Care              $1 to $2 billion (USD)

                                                 sector               revenue
0                                           Health Care      $2 - $5 billion
1                                               Finance                  None
2                             Biotech & Pharmaceuticals     $5 - $10 million
3                                         Manufacturing         $10+ billion
4                                Information Technology  $100 - $500 million
...                                                 ...                   ...
4087                                   Adecco, Manpower                  None
4088                                               None                  None
4089  Mount Sinai Medical Center of Florida, Baptist...                  None
4090  PathFinder Staffing, Juno Search Partners, Rob...                  None
4091                                               None                  None

[4092 rows x 11 columns]
      state_id                     city state
0            0                 New York    NY
1            1                 New York    NY
2            2             Florham Park    NJ
3            3           Franklin Lakes    NJ
4            4                 New York    NY
...        ...                      ...   ...
4087      4087         10000+ employees  None
4088      4088    501 to 1000 employees  None
4089      4089         10000+ employees  None
4090      4090   1001 to 5000 employees  None
4091      4091  5001 to 10000 employees  None

[4092 rows x 3 columns]