In [12]:
import pandas as pd

ecodf = pd.read_csv("data/BusinessAnalyst.csv")

ecodf.head()

,Unnamed: 0,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,0,Business Analyst - Clinical & Logistics Platform,$56K-$102K (Glassdoor est.),Company Overview\n\n\nAt Memorial Sloan Ketter...,3.9,Memorial Sloan-Kettering\n3.9,"New York, NY","New York, NY",10000+ employees,1884,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Mayo Clinic, The Johns Hopkins Hospital, MD An...",-1
1,1,1,Business Analyst,$56K-$102K (Glassdoor est.),We are seeking for an energetic and collaborat...,3.8,Paine Schwartz Partners\n3.8,"New York, NY","New York, NY",1 to 50 employees,-1,Company - Private,Venture Capital & Private Equity,Finance,Unknown / Non-Applicable,-1,True
2,2,2,Data Analyst,$56K-$102K (Glassdoor est.),"For more than a decade, Asembia has been worki...",3.6,Asembia\n3.6,"Florham Park, NJ","Florham Park, NJ",501 to 1000 employees,2004,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$5 to $10 million (USD),-1,-1
3,3,3,"Information Security Analyst, Incident Response",$56K-$102K (Glassdoor est.),Job Description Summary\nThe Information Secur...,3.6,BD\n3.6,"Franklin Lakes, NJ","Franklin Lakes, NJ",10000+ employees,1897,Company - Public,Health Care Products Manufacturing,Manufacturing,$10+ billion (USD),"Abbott, Siemens, Baxter",-1
4,4,4,Analyst - FP&A Global Revenue,$56K-$102K (Glassdoor est.),Magnite is the world's largest independent sel...,3.4,Rubicon Project\n3.4,"New York, NY","Los Angeles, CA",201 to 500 employees,2007,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"PubMatic, AppNexus, Index Exchange",True

In [19]:
ecodf['Salary Estimate'].str.replace(r'\'Glassdoor est.')

TypeError: StringMethods.replace() missing 1 required positional argument: 'repl'

In [18]:

ecodf['Job Title'].value_counts()
ecodf['Job Title'].value_counts(normalize=True)[:20]
#ecodf['Job Title'].value_counts()[:20].plot(kind='bar')

Business Analyst                   0.122678
Data Analyst                       0.035435
Business Systems Analyst           0.028837
Senior Business Analyst            0.016618
Business Intelligence Analyst      0.012219
Technical Business Analyst         0.008798
Sr. Business Analyst               0.007820
Business System Analyst            0.007331
IT Business Analyst                0.007331
Financial Analyst                  0.006109
Systems Analyst                    0.006109
Management Analyst                 0.005132
Business Analyst III               0.005132
Project Analyst                    0.005132
Salesforce Business Analyst        0.004643
Senior Business Systems Analyst    0.004399
Business Process Analyst           0.004154
Entry Level Business Analyst       0.004154
Business Analyst II                0.003666
Product Analyst                    0.003177
Name: Job Title, dtype: float64

In [9]:
print(ecodf.isnull())
ecodf.isnull().sum()
#ecodf.shape

      Unnamed: 0  index  Job Title  Salary Estimate  Job Description  Rating  \
0          False  False      False            False            False   False
1          False  False      False            False            False   False
2          False  False      False            False            False   False
3          False  False      False            False            False   False
4          False  False      False            False            False   False
...          ...    ...        ...              ...              ...     ...
4087       False  False      False            False            False   False
4088       False  False      False            False            False   False
4089       False  False      False            False            False   False
4090       False  False      False            False            False   False
4091       False  False      False            False            False   False

      Company Name  Location  Headquarters   Size  Founded  Type of ownership  \
0            False     False         False  False    False              False
1            False     False         False  False    False              False
2            False     False         False  False    False              False
3            False     False         False  False    False              False
4            False     False         False  False    False              False
...            ...       ...           ...    ...      ...                ...
4087         False     False         False  False    False              False
4088         False     False         False  False    False              False
4089         False     False         False  False    False              False
4090         False     False         False  False    False              False
4091         False     False         False  False    False              False

      Industry  Sector  Revenue  Competitors  Easy Apply
0        False   False    False        False       False
1        False   False    False        False       False
2        False   False    False        False       False
3        False   False    False        False       False
4        False   False    False        False       False
...        ...     ...      ...          ...         ...
4087     False   False    False         True        True
4088     False   False    False         True        True
4089     False   False    False         True        True
4090     False   False    False         True        True
4091     False   False    False         True        True

[4092 rows x 17 columns]

Unnamed: 0             0
index                  0
Job Title              0
Salary Estimate        0
Job Description        0
Rating                 0
Company Name           0
Location               0
Headquarters           0
Size                   0
Founded                0
Type of ownership      0
Industry               0
Sector                 0
Revenue                0
Competitors          400
Easy Apply           400
dtype: int64

In [6]:
ecodf[(ecodf['Competitors'].isnull()) & (ecodf['Easy Apply'].isnull())].shape 
# drop comp and easy apply

(400, 17)

In [ ]:
ecodf.isnull()
ecodf.dropna()
ecodf.info()
ecodf.describe

In [16]:
ecodf['Easy Apply']

0         -1
1       True
2         -1
3         -1
4       True
        ...
4087     NaN
4088     NaN
4089     NaN
4090     NaN
4091     NaN
Name: Easy Apply, Length: 4092, dtype: object

In [21]:
ecodf_clean = ecodf.drop(labels=["Unnamed: 0", "index", "Job Description"], axis=1)
ecodf_clean.columns = ["Job Title", "Salary Estimate", "Rating", "Company Name", "Location", "Headquarters", "Size", 
                      "Founded", "Type of ownership", "Industry", "Sector", "Revenue", "Competitors", "Easy Apply"]
ecodf_clean.head()

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,Business Analyst - Clinical & Logistics Platform,$56K-$102K (Glassdoor est.),3.9,Memorial Sloan-Kettering\n3.9,"New York, NY","New York, NY",10000+ employees,1884,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Mayo Clinic, The Johns Hopkins Hospital, MD An...",-1
1,Business Analyst,$56K-$102K (Glassdoor est.),3.8,Paine Schwartz Partners\n3.8,"New York, NY","New York, NY",1 to 50 employees,-1,Company - Private,Venture Capital & Private Equity,Finance,Unknown / Non-Applicable,-1,True
2,Data Analyst,$56K-$102K (Glassdoor est.),3.6,Asembia\n3.6,"Florham Park, NJ","Florham Park, NJ",501 to 1000 employees,2004,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$5 to $10 million (USD),-1,-1
3,"Information Security Analyst, Incident Response",$56K-$102K (Glassdoor est.),3.6,BD\n3.6,"Franklin Lakes, NJ","Franklin Lakes, NJ",10000+ employees,1897,Company - Public,Health Care Products Manufacturing,Manufacturing,$10+ billion (USD),"Abbott, Siemens, Baxter",-1
4,Analyst - FP&A Global Revenue,$56K-$102K (Glassdoor est.),3.4,Rubicon Project\n3.4,"New York, NY","Los Angeles, CA",201 to 500 employees,2007,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"PubMatic, AppNexus, Index Exchange",True

In [22]:
ecodf_clean2= ecodf_clean.dropna()